
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400&display=swap');

*{
font-family: Roboto Condensed;


}
body{
  background-image: url(arsset/desktop-wallpaper-passing-comet-planet-lights-debris-comets-tail-stars.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start center;
  box-sizing: border-box;
  
}

nav{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    transition: 0.7s all;

}
 nav ul li a{
    text-decoration: none;
    color: rgb(241, 226, 12); 
    padding: 30px;
    transition: 1s ease;

}
nav ul li a:hover{
    color: rgba(61, 63, 189, 0.849); 
    text-shadow: 1px 2px rgb(212, 197, 197);
    transition: 1s ease;
}
.visible {
    opacity: 1;
}
.text-center {
  text-align: center;
}
.color-white {
  color: #ffffff;
}
h3{
  color: rgb(241, 226, 12); 
  text-shadow: 2px 2px rgb(5, 5, 5);;
}

.conteiner {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
  gap: 20px;

}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  gap: 1px;
  width: 300px;


   
}
.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  min-height: 200px;
  -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-box-front {
  cursor: pointer;  
  color: rgb(235, 199, 39);
  background-image: url("arsset/cardprincipal.png");
  border-radius: 20px;
  background-size:cover;
  background-repeat: no-repeat;
  width: 300px;
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: rgb(0, 0, 0)!important;
  opacity: 80%;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-image: url('arsset/');
  background-size:auto;
  background-repeat: no-repeat; 
  padding: 5px;
  border-radius: 10px;
 
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;


}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 80%;
  padding: 25px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
}

.flip-box-header {
  font-size: 20px;

}

.flip-box p {
  color: transparent;
  
}

.flip-box:hover p {
    font-size: 19px;
    line-height: 1em;
    color: rgb(241, 226, 12); 
    text-shadow: 1px 1px 1px red;
  
}

.flip-box-img {
  margin-top: 25px;
  
}

@media only screen and (max-width: 1300px) {


  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height:100% ;
     gap: 15px;
  }

  .conteiner {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    justify-content: center;
    gap: 10px;
  }
}  

@media only screen and (max-width: 960px) {

  .flip-box{
    width: 300px;
    display: flex;
    justify-content: center;
  }

.conteiner {
  display: grid;
  grid-template-columns: 300px 300px ;
  
  
}

  h1{
 font-size: 15px; 
}

  .flip-box-header {
    font-size: 25px;
  }
  
  .flip-box{

    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  nav{
    height: 60px;
    display: flex;
    justify-content:center;
    width: 100%;   
  } 
  nav ul li{
    margin: 0;
  }

  .conteiner {
    display: grid;
    grid-template-columns: 280px 280px ;
    row-gap: 40px;
   
   
  }
    
  .flip-box-front {
    width: 197px;
    height: 15px;


  }


  .flip-box-header {
    font-size: 30px;
   
  }
 
  
}

@media only screen and (max-width: 660px) {

  .conteiner {
    display: grid;
    grid-template-columns:300px ;
    row-gap: 10px;
    
  }

  .flip-box-front {
    width: 400px;
    height: 15px;


  }

}